---
import Post from "@/components/Post.astro"
import Layout from "@/layouts/layout.astro"
import { TAGS } from "@/config/tags"
import type { MarkdownInstance } from "astro"

export async function getStaticPaths() {
  return TAGS
}
const { tag } = Astro.params
const allPosts = await Astro.glob("../pages/posts/*.md")

const filter = allPosts.filter((post: MarkdownInstance<Record<string, any>>) =>
  post.frontmatter.tags.includes(tag)
)
---

<Layout title={tag} prevPath="/">
  <section class="flex flex-col gap-3">
    <h2 class="font-bold">{tag}</h2>
    {filter.map((post) => <Post post={post} />)}
  </section>
</Layout>
