---
import Post from "@/components/Post.astro"
import Layout from "@/layouts/layout.astro"

const allPosts = await Astro.glob("../pages/posts/*.md")
---

<Layout title="Blog">
  <section class="flex flex-col gap-3">
    <h2 class="font-bold">Últimos Posts</h2>
    {allPosts.map((post) => <Post post={post} />)}
  </section>
</Layout>
