---
import Post from "@/components/Post.astro"
import Layout from "@/layouts/layout.astro"

const allPosts = await Astro.glob("../pages/posts/*.md")
---

<Layout title="Blog">
  <section class="flex flex-col gap-3 items-center m-auto">
    <h2 class="font-bold text-left w-full">Últimos Posts</h2>
    {allPosts.map((post) => <Post post={post} />)}
  </section>
</Layout>

<style>
  section {
    max-width: 650px;
  }
</style>
