---
import World from "@/icons/world.svg"
import Moon from "@/icons/moon-stars.svg"
import { Image } from "@astrojs/image/components"
export interface Props {
  prevPath?: string
}

const { prevPath } = Astro.props
---

<header class="header flex justify-center items-center relative">
  <h1 class="text-primary font-bold">Nicoder {"</>"}</h1>
  {
    prevPath && (
      <a href={prevPath} class="absolute top-0 left-0">
        <i class="fi fi-rr-arrow-circle-left" />
      </a>
    )
  }
  <div class="flex gap-4 absolute actions top-0 right-0">
    <Image src={World} alt="" height={20} />
    <Image src={Moon} alt="" height={20} />
  </div>
</header>

<style>
  .header {
    height: 130px;
  }
  i {
    font-size: 22px;
  }
</style>
